* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* Beginning of Header */

.header1 {
  height: 30px;
  background-color: #113954;
  background-size: cover;
  padding: 20px 20px 20px 20px;
}

.bluenavbar {
  height: 20px;
  background-color: pink;
  background-size: cover;
}

.header2 {
  height: 60px;
  background-color: #dce0e2;
  background-size: cover;
  padding: 20px 20px 20px 20px;
}

.greynavbar {
  width: 100%;
  height: 20px;
  background-color: pink;
  background-size: cover;
}

.header3 {
  height: 60px;
  background-color: white;
  background-size: cover;
  padding: 20px 20px 20px 20px;
}

.whitenavbar {
  width: 100%;
  height: 20px;
  background-color: pink;
  background-size: cover;
}


/* Beginning of Section 2 */



.section1 {
  height: 500px;
  height: 300px;
  background-color: orange;
  background-size: cover;
  padding: 60px 20px 60px 20px;
}

.container1 {
  width: 100%;
  height: 300px;
  background-color: pink;
  background-size: cover;
}
.section2 {
  height: 250px;
  background: #f5f8fa;
  background-size: cover;
  padding: 100px 20px 50px 20px;
}

.container2 {
  height: 150px;
  background-color: pink;
  background-size: cover;
}

/* Beginning of Section 3 */


.section3 {
  height: 500px;
  background: grey;
  background-size: cover;
  padding: 100px 20px 100px 20px;
}

.s3container1 {
  width: 100%;
  height: 200px;
  background: blue;
  background-size: cover;
  border-radius: 4px;
  margin-bottom: 20px;
  float: left;
  clear: both;
}

.s3container2 {
  width: 31%;
  height: 300px;
  background: purple;
  background-size: cover;
  margin-right: 34px;
  float: left;
}

.s3container3 {
  width: 31%;
  height: 300px;
  background: yellow;
  background-size: cover;
  margin-right: 34px;
  float: left;
}

.s3container4 {
  width: 31%;
  height: 300px;
  background: pink;
  background-size: cover;
  float: left;
}

/* Beginning of Section 4 */


.section4 {
  height: 300px;
  padding: 130px 0;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

.s4container {
  width: 100%;
  height: 150px;
  background-color: pink;
  background-size: cover;
}

/* Beginning of Section 5 */

.section5 {
  height: 60px;
  background-color: lightblue;
  background-size: cover;
  padding: 20px 20px 20px 20px;
}

.s5container {
  width: 100%;
  height: 20px;
  background-color: pink;
  background-size: cover;
}

/* Beginning of Section 6 */

.section6 {
  height: 60px;
  background-color: white;
  background-size: cover;
  padding: 20px 20px 20px 20px;
}

.s6container {
  width: 100%;
  height: 20px;
  background-color: pink;
  background-size: cover;
}
/* Beginning of Footer */

.footer {
  width: 100%;
  height: 300px;
  background-color: #33475b;
  padding: 130px 0;
}
