* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Avneir"
}

@font-face {
    font-family: 'Avneir'; /*a name to be used later*/
    src: url('../html-css-hubspot/font/AvenirNextLTPro-Regular.otf'); /*URL to font*/
}

a {
  color: white;
  text-decoration: none;
}

/* Beginning of Header */

.header1 {
  height: 30px;
  background-color: #113954;
  background-size: cover;
  padding: 20px 20px 20px 20px;
}

.bluenavbar {
  height: 20px;
}

.bluenavbar li {
  display: inline;
  margin-right: 20px;
}

.bluenavbar i {
  color: white;
}

.bluenavbaricons {
  float: right;
}


.header2 {
  height: 30px;
  background-color: #dce0e2;
  background-size: cover;
  padding: 20px 20px 20px 20px;
}

.greynavbar {
  width: 100%;
  height: 15px;
}

.greynavbar a {
  font-size: 0.75rem;
  padding: 0.563rem 1rem;
  color: #fff;
  background-color: #ff7a59;
}

.navbarbutton {
  float: right;
}
.header3 {
  height: 60px;
  background-color: white;
  background-size: cover;
  padding: 20px 20px 20px 20px;
}


.greynavbar li {
  display: inline;

}

.whitenavbar {
  width: 100%;
  height: 20px;
  background-size: cover;
}

#hubspotlogo {
  width: 200px;
  height: 70px;
}

.whitenavbar ul {
  padding-top: 20px;
  float: right;
}

.whitenavbar li {
  display: inline;
}

.whitenavbar a {
  color: #33475b;}
/* Beginning of Section 1 (Main Img)*/



.section1 {
  position: relative;
  height: 775px;
  background-image: url(../html-css-hubspot/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.s1container1 {
  position: absolute;
  width: 400px;
  top: 8%;
  left: 8%;
}

#orangebutton1 {
  background-color: #ff7a59;
  border-radius: 2px;
  padding: 1.625rem 3rem;
}

.s1container1 h1{
  font-size: 3.438rem;
  line-height: 1.1818;
  color: #33475b;
}

.s1container1 p {
  color: #33475b;
  margin-top: 40px;
  margin-bottom: 40px;
}

#s1paragraph {
  color: #33475b;
  font-size: 0.75rem;
}
/* Beginning of Section 2 (Building Block Img)*/

.section2 {
  position: relative;
  height: 250px;
  background: #f5f8fa;
  background-size: cover;
  padding: 100px 20px 100px 20px;
}

.section2 h2 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.3125;
  margin-bottom: 20px;
  margin-top: 0;
}

#blocks {
  max-width: 260px;
}

.s2container1 {
  position: absolute;
  width: 800px;
  top: 50%;
  left: 50%;
  background: #f5f8fa;
  background-size: cover;
  padding: 0px 30px 0px 30px;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Beginning of Section 3 Part 1(Book Img)*/


.section3 {
  height: 700px;
  background: #f5f8fa;
  background-size: cover;
  padding: 0px 120px 100px 120px;
}
/* .s3container1 :hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 11px #eaf0f6;
} */
/* .s3container1 {
  width: 100%;
  height: 260px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
} */

#bookimg {
  max-width: 250px;
  padding-left: 20%;
  float: left;
}

.sub1orangebutton {
  position: relative;
  clear: both;
  padding: 50px;
}

#orangebutton {
  position: absolute;
  background-color: #ff7a59;
  border-radius: 2px;
  padding: 0.75rem 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.s3sub1 {
  width:40%;
  height: 260px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  padding-top: 20px;
  float: left;
}

.s3sub2 {
  width: 60%;
  height: 260px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  padding-top: 20px;
  float: left;

}
.s3sub2 h2 {
  font-weight: 600;
  margin: 0.5em 0;
}

.s3sub2 li {
  display: inline-block;
  margin-right: 20px;
}

.s3sub2 p {
  font-size: 15px;
  line-height: 30px;
  padding: 10px 0 20px 0px;
}


/* Beginning of Section 3 Part 2 (Book Img)*/

.s3container2 {
  width: 27%;
  height: 400px;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  float: left;
  padding: 20px;
}


.s3container3 {
  width: 27%;
  height: 400px;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  float: left;
  padding: 20px;

}

.s3container4 {
  width: 27%;
  height: 400px;
  background: #fff;
  border-radius: 4px;
  float: left;
  padding: 20px;
}

.s3containerpics {
  width: 250px;
  height: 180px;
}

.s3content h2 {
  text-align: center;
  color: #33475b;
}

.s3content p {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #33475b;
}
/* Beginning of Section 4 */


.section4 {
  height: 300px;
  padding: 130px 0;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

.s4container {
  width: 100%;
  height: 150px;
  background-color: pink;
  background-size: cover;
}

/* Beginning of Section 5 */

.section5 {
  height: 60px;
  background-color: lightblue;
  background-size: cover;
  padding: 20px 20px 20px 20px;
}

.s5container {
  width: 100%;
  height: 20px;
  background-color: pink;
  background-size: cover;
}

/* Beginning of Section 6 */

.section6 {
  height: 60px;
  background-color: white;
  background-size: cover;
  padding: 20px 20px 20px 20px;
}

.s6container {
  width: 100%;
  height: 20px;
  background-color: pink;
  background-size: cover;
}
/* Beginning of Footer */

.footer {
  width: 100%;
  height: 300px;
  background-color: #33475b;
  padding: 130px 0;
}
